$content-width: 1200px;

$primary: #007bff;

// bs4 default color
$bs4-primary: #007bff;
$bs4-secondary: #6c757d;
$bs4-success: #28a745;
$bs4-info: #17a2b8;
$bs4-danger: #dc3545;
$bs4-warning: #ffc107;
$bs4-muted: #6c757d;
$bs4-light: #f8f9fa;
$bs4-dark: #343a40;

// bs4 button hover color
$bs4-hover-primary: #0062cc;
$bs4-hover-secondary: #545b62;
$bs4-hover-success: #1e7e34;
$bs4-hover-info: #117a8b;
$bs4-hover-danger: #bd2130;
$bs4-hover-warning: #d39e00;
$bs4-hover-light: #dae0e5;
$bs4-hover-dark: #1d2124;